.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom:100px
}
.relatedproducts h1{
    color:#171717;
    font-size:50px;
    font-weight: 600;
}
.relatedproducts hr{
    width:200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:50px;
    gap:30px;
}
.relatedproducts-item img {
    width: 300px;     /* 가로 고정 */
    height: 400px;    /* 세로 고정 */
    object-fit: cover; /* 영역 꽉 채우기, 비율 유지하며 잘림 */
    display: block;
    border-radius: 8px; /* 선택 사항: 모서리 둥글게 */
    gap:10px
}
@media(max-width:1280px){
   
    .relatedproducts h1{
        font-size:40px;
    }
    .relatedproducts hr{
        width: 160px;
        height: 4px;
    }
    .relatedproducts-item{
        gap: 40px;
        margin-top: 30px;
    }
    .relatedproducts-item img{
        width: 250px;
        height: 370px;
    }
}
@media(max-width:1024px){
   
    .relatedproducts h1{
        font-size: 30px;
    }
    .relatedproducts hr{
        width: 120px;
        height: 3px;
    }
    .relatedproducts-item{
        gap: 20px;
        margin-top: 20px;
    }
    .relatedproducts-item img{
        width: 170px;
        height: 250px;
    }
}
@media(max-width:800px){
    .relatedproducts{
        gap:6px;
    }
    .relatedproducts h1{
        font-size:20px;
    }
    .relatedproducts hr{
        width: 100px;
    }
    .relatedproducts-item{
        gap: 15px;
    }
    .relatedproducts-item img{
        width: 120px;
        height: 210px;
    }
}
@media(max-width:500px){
    .relatedproducts-item{
        display:grid;
        grid-template-columns: 2fr;
        gap:20px;
    }
}